<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheat Disease Detection</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
    <header>
    </header>

    <nav>
        <a href = "#">about</a>
        <a href = "#">blog</a>
        <a href = "#">contact</a>

    </nav>

    <main>
        <h1>
            Wheat Disease Detection
        </h1>
        <p>
            In this website, we are going
            to be detecting the various diseases in wheat.
            Feel free to insert an image of wheat that you 
            feel that must be tested. After clicking on the browse button, you will be able to select an image from your system. 
    
        </p>
    </main>

    <footer></footer>
    </div>
</body>
</html>